<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js https://js.stripe.com;" /> -->
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src * data: https://cdnjs.cloudflare.com https://js.stripe.com 'unsafe-inline' 'unsafe-eval'; "> -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src *;"> -->
    <!-- <meta http-equiv="Content-Security-Policy: " content="default-src *">
    <meta http-equiv="X-Content-Security-Policy: " content="default-src *">
    <meta http-equiv="X-WebKit-CSP: " content="default-src *"> -->

    <title>
        <%= docTitle %>
    </title>
    <!-- <link rel='manifest' href='../../manifest.json'> -->
    <link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css'>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/main.css'>

</head>

<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">