<%- include('includes/header.ejs') %>
    <%- include('includes/navigation-shop.ejs') %>
        <main>
            <div class="box-border p-4 border-2 right-6">
                <h1 class="text-purple-600 left-6">Error 404 page not found</h1>

            </div>
        </main>
        <%- include('includes/footer.ejs') %>