<%- include('includes/header.ejs') %>
    <%- include('includes/navigation-shop.ejs') %>
        <br><br>
        <br><br>
        <main>
            <!-- <div class="box-border p-4 border-2 right-6"> -->
            <h1 class="text-6xl">Error 404 page not found</h1>

            <!-- </div> -->
        </main>
        <%- include('includes/footer.ejs') %>