<%- include('includes/header.ejs') %>
    <%- include('includes/navigation-shop.ejs') %>
        <br><br>
        <br><br>
        <main>
            <div class="box-border p-4 border-2 centered">
                <h1 class="text-6xl">Some error occured</h1>
                <p>some error occer sorry for the inconvinence</p>
                <p>some error occer sorry for the inconvinence</p>



            </div>
        </main>
        <%- include('includes/footer.ejs') %>