<%- include('../includes/header.ejs') %>
    <%- include('../includes/navigation-shop.ejs') %>

        <main class="text-black mt-20 flex flex-wrap content-center">

        </main>
        <%- include('../includes/footer.ejs') %>